{% extends 'site/base.html' %}

{% block content %}
<div class="brief"><h1>About Me</h1></div>
<div class="name">Sumagna Das</div><br>
<span class="labels">Age:</span> <span class="values">14+</span><br><br>
<span class="labels">Occupation:</span> <span class="values">Student at <a href="https://navanalanda.org.in">Nalanda High School</a></span><br><br>
<span class="labels">Hobbies:</span> <span class="values">Programming, Gaming, Sports</span><br><br>
<span class="labels">Languages and tools I know:</span><br>
    <a href="https://python.org"><img src="/static/images/python.png"></a>
<br>
<span class="labels">Age:</span> <span class="values">14+</span><br><br>
{% endblock %}