<link rel="stylesheet" href="/static/css/base.css?{% now "U" %}">
<link rel="stylesheet" href="/static/css/sections.css?{% now "U" %}">
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>{% block title %}Sumagna Das' Website{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
    {% if if_distill %}
        <a href="{% url 'd_about' %}">About</a>
        <a href="{% url 'd_about' %}#contact">Contact</a>
        <a href="{% url 'd_about' %}#experience">Experience</a>
    {% else %}
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'about' %}#contact">Contact</a>
        <a href="{% url 'about' %}#experience">Experience</a>
    {% endif %}
        {% comment "To be added area" %}
            <a href="{% url 'blog:index' %}">Blog</a>
        {% endcomment %}
    </nav>
    {% block content %}{% endblock %}
</body>