appdirs
astroid
beautifulsoup4
black
certifi
chardet
click
Django
django-distill
django-freeze
flake8
html5lib
idna
isort
lazy-object-proxy
mccabe
mypy-extensions
pathspec
pycodestyle
pyflakes
pylint
pyls
pytz
regex
requests
six
soupsieve
sqlparse
toml
typed-ast
typing-extensions
urllib3
webencodings
wrapt
xmltodict
